.UserProfile{
    width: 44%;
    left: 26%;
    top: 0;
    right: 0;
    bottom: 0;
    position: relative;
    padding: 5%;
}

.ProfilePic{
    height: 22.5%;
    width: 22.5%;
    border-radius: 50%;
}
hr{
    margin-right: 10%;
}
.UserBio{
    margin-right: 10%;
}