.RightNav{
    /* display: flex;
    flex-direction: column; */
    /* width: 25%; */
    height: 100vh;
    top:0;
    right: 0;
    bottom: 0;
    left: 75%;
    position: absolute;
    background-color: rgb(241, 241, 241);
    /* border-left: 0.5px solid rgb(220, 220, 220); */
}

.RightComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
}

.SearchForm {
    margin:20%;
}
.SearchBar {
    height: 2.75em;
    width: 100%;
}

.RightNav-headings {
    text-align: left;
    margin-left: 5%;
}
.tag-cloud-block {
    margin:0 5%;
}

.tag-cloud-list-style {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    list-style: none;
    padding: 1% 2%;
}

.tag-cloud-list-item {
    border: 1.75px solid rgb(163, 162, 162);
    padding:1.5%;
    margin: 1%;
    border-radius: 2px;
    cursor: pointer;
}

.tag-cloud-list-item:hover {
    border:1.75px solid rgb(26, 24, 24);
    transition-delay: 0.15s;
    background-color: rgb(204, 204, 204);
}


.catagories-list-item {
    list-style: none;
    margin-left: 0;
    margin-right: 20%;
}

.tag-cloud-links{
    text-decoration: none;
    color: rgb(23, 22, 22);
}

.Thumbnail-image{
    z-index:1;
    height:80px;
    width:80px;
}
.Blogbox {
    height: auto;
    width: 44%;
    display: grid;
    align-items: flex-start;
    position: relative;
    left: 10%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(241, 241, 241);
    padding-top: 8.5%;
    padding-left:3%;
    padding-right:3%;
    font-size: 22px;
    color: black;
    /* z-index: 1; */
    /* background-color:rgb(167, 94, 21); */
    grid-template-columns: 1;
}