.RightNav{
    /* display: flex;
    flex-direction: column; */
    /* width: 25%; */
    height: 100%;
    top:0;
    right: 0;
    bottom: 0;
    left: 75%;
    position: fixed;
    background-color: (252, 251, 250);
    /* border-left: 0.5px solid rgb(220, 220, 220); */
}

.RightComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
}

.SearchForm {
    margin:20%;
}
.SearchBar {
    height: 2.75em;
    width: 100%;
}

.RightNav-headings {
    text-align: left;
    margin-left: 5%;
}
.tag-cloud-block {
    margin:0 5%;
}

.tag-cloud-list-style {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    padding: 1% 2%;
}

.tag-cloud-list-item {
    border: 1px solid black;
    padding:1%;
    margin: 1%;
    border-radius: 5px;
}

.catagories-list-item {
    list-style: none;
}